/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

body{
margin:0;
padding:0;
/* background: url(../images/bg5.jpg) right right fixed; */
/* background: url(../images/bg5.jpg) no-repeat right top fixed; */
background: #FFFFE0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: Helvetica Neue, Helvetica, Arial;
}

.container{
width: 100%;
margin: 0;
}

.header{
float: left;
padding-top: 15px;
margin: 0 0 0 50px;
}

a.logo{
margin: 0 auto 30px auto;
text-shadow: 1px 1px 7px #3e3935;
filter: dropshadow(color=#3e3935, offx=1, offy=1);
font-size: 100px;
color: #fff;
display: block;
text-align: center;
}

a.logo span{
display: block;
text-align: center;
font-size: 11px;
letter-spacing: 4px;
text-transform: uppercase;
}

.clear{
clear: both;
}

.video{
width: 500px;
background: url(../images/video.png) right top no-repeat;
padding: 20px 20px 10px 10px;
float: center;
}

/*
p{
color: #fff;
font-size: 16px;
text-align: center;
margin: 0 40px 20px auto;
}
*/

.teddy{
position:fixed;
bottom:0;
right:30%;
display:block;
}

* html .teddy{
position: absolute;
}

img.bg {
    /* Set rules to fill background */ 
    min-height: 100%;
    min-width: 50%;
    /* Set up proportionate scaling */
    width: 50%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    right: 0;
}
                                                                                                                                                               
